<div class="w3-card-4">
    <!--add the repositories results here-->
    <header class="w3-container w3-light-grey">
        <h3 style="text-align:center;">Wayne Kirimi GitHub Account</h3>
    </header>
    <div class="w3-container w3-sand">
        <img src=" {{user.avatar_url}}" class="w3-left w3-circle">
        <h4>GitHub Username: {{ user.login}}</h4>
        <h4>Followers: {{ user.followers }}</h4>
        <h4>Following: {{ user.following }}</h4>
        <h4>Repositories: {{ user.public_repos }}</h4>
        <h4>Date Created: {{ user.created_at | countingDates}}</h4>
        <h4>Date Updated: {{ user.updated_at | countingDates }}</h4>
    </div>
</div>
<div class="container">
    <h3 style="text-align: center;">
        Repositories
    </h3>
    <div class="w3-sand w3-hover-shadow w3-center" *ngFor="let repo of repositoryData, let i = index">
        <div class="row">
            <div class="col">
                <p>
                    {{repo.name}} <br>
                </p>
                <p>
                    {{repo.description}}
                </p>
                <p>
                    Pushed on {{ repo.pushed_at }} and last updated on {{ repo.updated_at | countingDates}}
                </p>
                <p style="float: left;">
                    <span><i class="fa-solid fa-code-fork">{{ repo.forks_count }}</i></span>
                </p>
                <p style="float: right;">
                    <span><i class="fa-solid fa-star"></i>{{ repo.stargazers_count}}</span>
                </p>
            </div>
        </div>
    </div>
</div>