<!-- <div class="container"> -->
    <!--when the button is clicked, the showRepo method should show the repository in a new page-->
    <!-- <div class="form-group">
        <h3>Find Github Repo</h3>
        <input type="search" class="form-control" placeholder="GitHub Repository Name" aria-label="GitHub Repository"
            aria-describedby="button-addon2" #search>
        <button (click)='searchRepo(search.value)'  class="btn btn-primary" type="submit"
            id="button-addon2">Search</button> -->
        <!--when the button is clicked, it should call a searchRepo event that searches for the repository name-->
    <!-- </div>
    <div *ngFor='let repositories of repositoryData'>
        <p>Number of Repositories Found: {{ repositories.total_count }} </p>
        <p>Username: {{ repositories.login }}</p>
        <p>Repository Name: {{ repositories.name }}</p>
        <p>Forks: {{ repositories.forks_count }}</p>
        <p>Stars: {{ repositories.stargazers_count }}</p>
        <p>Date Created: {{ repositories.created_at }}</p>
        <p>Date Updated: {{ repositories.updated_at }}</p>
    </div>
</div> -->