<!-- this is a form that users will fill to search for github usernames and repos -->

<div class="container">
    <form id="search uName">
        <div class="form-group">
            <h3>Find Github User</h3>
            <input type="text" class="form-control" placeholder="GitHub Username" aria-label="GitHub Username"
                aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
        </div>
    </form>
    <form id="search rName">
        <div class="form-group">
            <h3>Find Github Repo</h3>
            <input type="text" class="form-control" placeholder="GitHub Repository Name" aria-label="GitHub Repository"
                aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
        </div>
    </form>
</div>