<div class="w3-container">
  <div class="w3-bar">
    <a href="#"
      class="w3-bar-item w3-button w3-hover-blue w3-border-white w3-bottombar w3-hover-border-blue w3-hover-text-white w3-right">View
      My Profile</a>
    <a href="https://github.com/"
      class="w3-bar-item w3-button w3-hover-blue w3-border-white w3-bottombar w3-hover-border-blue w3-hover-text-white w3-right">GitHub</a>
    <a href="#"
      class="w3-bar-item w3-button w3-hover-blue w3-border-white w3-bottombar w3-hover-border-blue w3-hover-text-white w3-right">Home</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>GitHub
        <span><i class="fa-brands fa-github"></i></span>
        Search
      </h3>
    </div>
  </div>
</div>